html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
  margin-right: 0.125rem;
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
  margin-left: 0.125rem;
}

.myAppDemoWT .myCustomText {
  display: inline-block;
  font-weight: bold;
}
.sapMPage>section.sapMPageEnableScrolling{
  text-align: center !important;
}
#title1-inner {
  margin-left: 875px;
}

#title0-inner {
  margin-left: 25%;
}
.sapMLIBShowSeparator>td {
  border-top: 0px #e5e5e5;
}
